<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head">

</head>

<body id="body-pd">

	<header th:replace="fragments :: header"></header>
	<div th:replace="fragments :: navbar"></div>

	<!--Container Main start-->
	<div class="height-100 bg-light">
		<h4>Feedback</h4>
		<hr>
		<div>
			<h6 th:text="${message}" id="message" class="text-danger text-center"></h6>
		</div>
		<hr> 
		<div class="col-sm-12">
		<div th:if="${lock=='lock'}" style="display: inline-block"
				class="ml-2 mb-3">
				<a th:href="@{/feedback/lock}">
					<button class="btn btn-primary" th:text="${lock}"></button>

				</a>
			</div>
			<div th:if="${lock=='locked'}" style="display: inline-block"
				class="ml-2 mb-3">
				<a th:href="@{/feedback/lock}">
					<button class="btn btn-success" 
					onclick="return confirm('Please, Click average and clear feedback before releasing lock, okay?')" 
					th:text="${lock}"></button>

				</a>
			</div>
			<div th:if="${lock=='unlocked'}" style="display: inline-block"
				class="ml-2 mb-3">
				<a th:href="@{/feedback/lock}">
					<button class="btn btn-danger" th:text="${lock}"></button>

				</a>
			</div>
			<div class="ml-2 mb-3" style="display: inline-block">
				<a th:href="@{/faculty/averages}">
					<button class="btn btn-primary" title="Calculate Averages"
						onclick="return confirm('Calculation takes less than 5 seconds, okay?')">
						Average</button>

				</a>
			</div>
			<div class="ml-2 mb-3" style="display: inline-block">
				<a th:href="@{/feedback/clear}">
					<button class="btn btn-primary"
						onclick="return confirm('If you are authorized, caution: feedback will be cleared, okay?')">
						clear</button>
				</a>
			</div>
		</div>
		<div style="overflow-x:auto;background-color: var(--white-color);">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col"><a th:href="@{/feedback/id}">Id</a></th>
					<th scope="col"><a th:href="@{/feedback/studentId}">S.
							Id</a></th>
					<th scope="col"><a th:href="@{/feedback/facultyId}">F.
							Id</a></th>
					<th scope="col"><a th:href="@{/feedback/question1}">Q1</a></th>
					<th scope="col"><a th:href="@{/feedback/question2}">Q2</a></th>
					<th scope="col"><a th:href="@{/feedback/question3}">Q3</a></th>
					<th scope="col"><a th:href="@{/feedback/question4}">Q4</a></th>
					<th scope="col"><a th:href="@{/feedback/question5}">Q5</a></th>
					<th scope="col"><a th:href="@{/feedback/question6}">Q6</a></th>
					<th scope="col"><a th:href="@{/feedback/average}">Average</a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="feedback : ${feedbackList}">
					<th scope="row" th:text="${feedback.id}"></th>
					<td th:text="${feedback.studentId}"></td>
					<td th:text="${feedback.facultyId}"></td>
					<td th:text="${feedback.question1}"></td>
					<td th:text="${feedback.question2}"></td>
					<td th:text="${feedback.question3}"></td>
					<td th:text="${feedback.question4}"></td>
					<td th:text="${feedback.question5}"></td>
					<td th:text="${feedback.question6}"></td>
					<td th:text="${feedback.average}"></td>
				</tr>
		</table>
      </div>
	</div>

	<!--Container Main end-->


<script type="text/javascript">

</script>
</body>

</html>