<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/studentregistration.css}">
<link th:href="@{/webjars/bootstrap-icons/1.7.0/font/bootstrap-icons.css}" rel="stylesheet"/>
<script type="text/javascript"
	th:src="@{/js/adminhome.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <title>Student Registration</title>
</head>
<body>
    <div class="container form-container">
        <h1 style="margin: bottom 25px;" class="h1">Student Registration</h1>
        <h6 id="message" th:text="${message}" class="text-center text-danger"></h6>
        <form th:action="@{/student/save}" th:object="${student}" method="POST" onsubmit="return validateStudentForm(this)">
            <input type="hidden" th:field=*{id}/>
            <div><input type="text" placeholder="First Name" th:field="*{firstName}" required/> </div>
            <div><input type="text" placeholder="Last Name" th:field="*{lastName}" required/></div>
            <div>
              <input type="text" style="text-transform: uppercase" placeholder="Roll No." th:field="${student.rollNumber}" id="roll" autocomplete="off" disabled minlength="5" maxlength="15"/>
              <input type="hidden" style="text-transform: uppercase" placeholder="Roll No." th:field="*{rollNumber}" autocomplete="off" minlength="5" maxlength="15"/>
            </div>
            <br>
            <div>
                 <select th:field="*{branch}">
                    <option disabled value="">Select Branch</option>
                    <option th:value="'CSE'" th:selected="${branch=='CSE'}">CSE</option>
                    <option th:value="'ECE'" th:selected="${branch=='ECE'}">ECE</option>
                    <option th:value="'EEE'" th:selected="${branch=='EEE'}">EEE</option>
                    <option th:value="'H&S'" th:selected="${branch=='H&S'}">H&S</option>
                    <option th:value="'CIVIL'" th:selected="${branch=='CIVIL'}">CIVIL</option>
                    <option th:value="'MECHANICAL'" th:selected="${branch=='MECHANICAL'}">MECHANICAL</option>
                </select>
            </div>
            <br>
            <div>
                <Select th:field="*{year}">
                    <option disabled value="">Select Year</option>
                    <option th:value="1" th:selected="${year==1}">1st Year</option>
                    <option th:value="2" th:selected="${year==2}">2nd Year</option>
                    <option th:value="3" th:selected="${year==3}">3rd Year</option>
                    <option th:value="4" th:selected="${year==4}">4th Year</option>
                </Select>
            </div> 
            <div th:if="${id != null}">
				<input type="password" id="password1"
					placeholder="change password, if needed!" th:field="*{password}"  min="8"/>
			</div>
            <br>
			
			<button type="submit" class="button">Update</button>
        </form>
    </div>
    
  <script>
      
      
   </script>   
    
</body>

</html>